<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715036165016-0oi7d88jsr1gnk4kas85p641v5smkatj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715036165016-0oi7d88jsr1gnk4kas85p641v5smkatj</string>
	<key>API_KEY</key>
	<string>AIzaSyBnOpnsv9s1cPg3IHzP4ou7egXf_X6jBTY</string>
	<key>GCM_SENDER_ID</key>
	<string>715036165016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asif.mimi3.Git-Finder</string>
	<key>PROJECT_ID</key>
	<string>git-finder-8d15b</string>
	<key>STORAGE_BUCKET</key>
	<string>git-finder-8d15b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715036165016:ios:4bddfafcc29d58bd79e1ed</string>
</dict>
</plist>